language: python
python:
  - "2.7"
before_install:
  - sudo apt-get update
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION pip nose scipy
  - pip install python-coveralls
  - pip install cython
  - pip install -r requirements.txt
  - python setup.py install
script:
  - nosetests -s --with-coverage --cover-package=circ2
after_success:
  - coveralls
